@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.display{
  color: #000;
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 18px; 
}